{
  "cli": {
    "version": ">= 16.6.1",
    "appVersionSource": "remote"
  },
  "build": {
    "development": {
      "developmentClient": true,
      "distribution": "internal"
    },
    "preview": {
      "distribution": "internal",
      "env": {
        "EXPO_PUBLIC_MOVIE_API_KEY": "",
        "EXPO_PUBLIC_APPWRITE_PROJECT_ID": "",
        "EXPO_PUBLIC_APPWRITE_DATABASE_ID": "",
        "EXPO_PUBLIC_APPWRITE_COLLECTION_ID": ""
      }
    },
    "production": {
      "autoIncrement": true,
      "env": {
        "EXPO_PUBLIC_MOVIE_API_KEY": "",
        "EXPO_PUBLIC_APPWRITE_PROJECT_ID": "",
        "EXPO_PUBLIC_APPWRITE_DATABASE_ID": "",
        "EXPO_PUBLIC_APPWRITE_COLLECTION_ID": ""
      }
    }
  },
  "submit": {
    "production": {}
  }
}
